a{
    text-decoration: none;
    color:#342D50;
    font-size: large;
}
.nav{
            background-color: #EEEEEE;
    }
ul{
    list-style: none;
    li{
        padding-top:3%;
        padding-left:5%;
        float:left;
    }
}
.rightNav{
    float:right;
   
}
.navele
{
    float:left;
}