<div class="container">
  <div class="row">
      <div class="col-md-6 float-left bg-success">
        <ul>
          <li><h3>BookMyShow</h3></li>
          <li><a routerLink="/movies" routerLinkActive="active">Movies</a></li>
          <li><a routerLink="/mymovies" routerLinkActive="active">My Movies</a></li>
        </ul>
      </div>
      <div class="col-md-6 float-right bg-danger">
        <ul>
          <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
          <li><a routerLink="/register" routerLinkActive="active">Sign Up / Register</a></li>
        </ul>
      </div>
  </div>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>